@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --clr-primary: hsl(33, 96%, 33%);
  --clr-secondary: hsl(45, 95%, 23%);
  --clr-neutral: hsl(84, 10%, 72%);
  --clr-gray: hsl(84 10 15);
  --clr-accent: hsl(16, 96%, 33%);
  --clr-accent-secondary: hsl(195, 96%, 38%);


}

[data-theme="light"] {
	--clr-text: var(--clr-gray);
	--clr-bg: var(--clr-neutral);
	
}

[data-theme="dark"] {
	--clr-text: var(--clr-neutral);
	--clr-bg: var(--clr-gray);

}

@theme {
	--color-text: var(--clr-text);
	--color-background: var(--clr-bg);
	--color-accent: var(--clr-accent);
	--color-primary: var(--clr-primary);
	--color-gray: var(--clr-gray);
	--color-neutral: var(--clr-neutral);
	--color-secondary: var(--clr-secondary);
}


